asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.1.31
channels==4.2.2
chardet==4.0.0
charset-normalizer==3.4.1
click==8.1.7
Django==5.2.1
django-ckeditor-5==0.2.18
django-cors-headers==4.7.0
django-crispy-forms==1.14.0
django-crontab==0.7.1
django-csp==4.0
django-filter==23.5
django-js-asset==3.1.2
djangorestframework==3.15.1
djangorestframework-gis==0.17
djangorestframework_simplejwt==5.5.0
djoser==2.3.1
gunicorn==23.0.0
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
oauthlib==3.2.2
pillow==11.1.0
psycopg2-binary==2.9.10
PyJWT==2.9.0
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.1.0
python3-openid==3.2.0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
six==1.17.0
social-auth-app-django==5.4.3
social-auth-core==4.6.1
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.3.0
whitenoise==6.9.0
